<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve existing files and directories directly.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Forward all other requests to Symfony's front controller.
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_setenvif.c>
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>
