MAIL_HOST=ssl0.ovh.net
MAIL_PORT=993
MAIL_SECURE=true
MAIL_MAILBOX=INBOX
MAIL_USER=alerte@example.com
MAIL_PASS=change-moi

API_ALERTES_URL=https://om.professionaldev.fr/api/alertes
API_CSV_BACKUP_URL=https://om.professionaldev.fr/api/csv-backup
INBOUND_TOKEN=change-moi

LIMIT=10

# unseen = mails non lus uniquement, seen = mails lus uniquement, all = tous les mails
MAIL_FETCH_SCOPE=unseen

# true = supprime le mail apres succes API, false = conserve le mail
MAIL_DELETE_AFTER_SUCCESS=true
